TWITTER_PAT=/Users/andrew/.rtweet_token.rds
AIRTABLE_API_KEY={{- (onepasswordDetailsFields "6pxjecfotidjkdordyrx4nsxma").credential.value }}
CENSUS_API_KEY='{{- (onepasswordDetailsFields "xtlhnvpt5solnjc57oncvl4uve").credential.value }}'
DO_PAT="{{- (onepasswordDetailsFields "cnuxilwfooc57rdiegx6x2qnbi").credential.value }}"
HOME_ASSISTANT_TOKEN="{{- (onepasswordDetailsFields "nscu6tohl6yshkckdwm5b4pr7i").credential.value }}"

# NTFY_TOPIC={{- (onepasswordDetailsFields "jnwm7hjhsgsuptyzklto33ctve").livxzh3hrpq76zdho5ilda5lhu.value }}
# NTFY_SERVER={{- (onepasswordDetailsFields "jnwm7hjhsgsuptyzklto33ctve").w4tafwud6knbb3c5p7g4xbcb44.value }}
# NTFY_USERNAME={{- (onepasswordDetailsFields "jnwm7hjhsgsuptyzklto33ctve").username.value }}
# NTFY_PASSWORD={{- (onepasswordDetailsFields "jnwm7hjhsgsuptyzklto33ctve").credential.value }}
